@import "tailwindcss";

:root {
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #101828;
}

input {
  background: transparent;
  border: none;
}

@keyframes pulseLogo {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  75% {
    opacity: 1;
    transform: scale(1.03);
  }

  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.animate-pulseLogo {
  animation: pulseLogo 1.8s ease-in-out infinite;
}